{% extends "index.html" %}
{% block title %}DjanAq: {%if aq%}Sure delete {{aq}}?{%else%}Error{%endif%}{% endblock %}
{% block header %}DjanAq: {%if aq%}Sure delete {{aq}}?{%else%}Error{%endif%}{% endblock %}
{% block content %}
{% if aq %}
<form action="/process" method="POST">
{% csrf_token %}
    <input type="hidden" name="aq_id" value="{{ aq.id }}"/>
Sure you want to delete aquarium {{ aq }}?
<input type="submit" name="suredelete" value="yes"/>
<input type="submit" name="suredelete" value="no"/>
</form>
{% else %}
Aquarium does not exist or access is denied.
{% endif %}
{% endblock %}
