{% extends "index.html" %}
{% block title %}DjanAq: {% if aq %}Editing {{aq}}{% else %}Error{%endif%}{% endblock %}
{% block header %}DjanAq: {% if aq %}Editing {{aq}}{% else %}Error{%endif%}{% endblock %}
{% block content %}

<br/>
{% if aq %}
Your aquarium status: <a href="/aquarium/{{ aq.id }}">{{ aq }}</a>

<form action="/process" method="post">
{% csrf_token %}
    <input type="hidden" name="aq_id" value="{{ aq.id }}"/>
<br/>
Aquarium name: <input type="text" name="name" value="{{aq.name}}"/>
<br/>
Aquarium volume: <input type="number" name="volume" value="{{aq.volume}}"/>
<br/>
<input type="submit" name="clear" value="clear aquarium"/>
<input type="submit" name="savech" value="save changes"/>
{% comment %}
<input type="submit" name="delete" value="delete aquarium"/>
{% endcomment %}
</form>
{% else %}
Aquarium does not exist or access is denied.
{% endif %}
{% endblock %}

{% comment %}
{% block rightcol %}
<form action="/process/{{aq.id}}" method="POST">
{% csrf_token %}
    <input type="hidden" name="aq_id" value="{{ aq.id }}"/>
{{add_fish_form}}
<input type="submit" name="addfish" value="Add fish"/>
</form>
{% endblock %}
{% endcomment %}
