{% extends "index.html" %}
{% block title %}DjanAq: {% if aq %}{{aq}}{%else%}Error{%endif%}{% endblock %}
{% block header %}DjanAq: {% if aq %}{{aq}}{%else%}Error{%endif%}{% endblock %}
{% block content %}
{% if aq %}
<br/>
Your aquarium status:
<a href="/aquarium/{{ aq.id }}">{{ aq.name }}</a>
<br/>				
<br/>
Aquarium volume: {{aq.volume}}
<br/>
Occupied aquarium volume: {{aq.getOccupiedVolume}}
<br/>
Iteration number: {{aq.age}}
<br/>
<br/>
{% for sta in stat.values %}
{{sta.0}}: {{sta.3}} total, {{sta.1}} females, {{sta.2}} small.<br/>
{% endfor %}

<form action="/process" method="post">
	{% csrf_token %}
	<input type="hidden" name="aq_id" value="{{ aq.id }}"/>
	<input type="hidden" name="from" value="/aquarium/{{aq.id}}"/>
	<input type="submit" name="update" value="update aquarium"/>
	<input type="submit" name="edit" value="edit aquarium"/>
	<input type="submit" name="delete" value="delete aquarium"/>
</form>
<br/>
{% if aq.findFishes %}
<table border="1" cols="2">
	<tr>
	    <th>Fish gender</th>
	    <th>Fish type</th>
	    <th>Fish age</th>
	    <th>Move fish to other aq</th>
	</tr>
{% endif %}
	{% for fi in aq.findFishes %}
	<tr>
		<td>
			{% if fi.isFemale %}Female{% else %}Male{% endif %}
		</td>
		<td>
		<abbr title="{{fi.proto.name}}: needed volume {{fi.proto.waterVolumeNeeded}}, adulting time {{fi.proto.adultingTime}}">{{fi.proto.name}}</abbr>
		</td>
		<td>
			{{fi.age}}
		</td>
		<td>
			<form action="/process" method="post">
				{% csrf_token %}
				<input type="hidden" name="fish_id" value="{{fi.id}}"/>
				<input type="hidden" name="aq_id" value="{{aq.id}}"/>
				<table>
				{{move_fish_form}}
				<td>
					<input type="submit" name="move" value="Move"/>
				</td>
			</table>
				
			</form>
		</td>
	</tr>
	{% empty %}
	Aquarium is empty.<br/>
	{% endfor %}
</table>
{% else %}
This aquarium doesn't exist or you don't have access to it.
{% endif %}
{% endblock %}


{% block rightcol %}
{% if aq %}
<form action="/process" method="POST">
{% csrf_token %}

    <input type="hidden" name="aq_id" value="{{ aq.id }}"/>
{{add_fish_form}}
<input type="submit" name="addfish" value="Add fish"/>
</form>
{%endif%}
{% endblock %}
