{% extends "index.html" %}
{% block title %}DjanAq: Aquariums{% endblock %}
{% block header%}DjanAq: Aquariums{% endblock %}

{% block content %}
Your aquarium status:<br/>
<table border="1">
{% for aq in aqs %}
<tr><td>
<a href="/aquarium/{{ aq.id }}">{{ aq }}</a>
<form action="/process" method="post">
{% csrf_token %}
    <input type="hidden" name="aq_id" value="{{ aq.id }}"/>
<br/>
Aquarium volume: {{aq.volume}}
<br/>
<input type="hidden" name="from" value="/status"/>
<input type="submit" name="update" value="update aquarium"/>
<input type="submit" name="edit" value="edit aquarium"/>
<input type="submit" name="delete" value="delete aquarium"/>
</form>
</td></tr>
<br/>
	{% empty %}
	No aquariums are found.<br/>
{% endfor %}
</table>
{% endblock %}

{% block rightcol %}
<form action="/aqadd" method="POST">
{% csrf_token %}
<input type="text" name="name" value="Aquarium"/>
<input type="number" name="volume" value="60"/>
<input type="submit" value="Add new aquarium"/>
</form>
{% endblock %}
