{% extends "index.html" %}
{% block title %}DjanAq: Fishes{% endblock %}
{% block header %}DjanAq: Fishes{% endblock %}
{% block content %}
<table border="1">
	<tr>
		<th>Fish name</th>
		<th>Fish required water</th>
		<th>Fish min life</th>
		<th>Fish max life</th>
		<th>Average small death</th>
		<th>Small death stop age</th>
		
		<th>Spawning period</th>
		<th>Adulting age</th>
		<th>Min spawn count</th>
		<th>Max spawn count</th>
		
		<th>Total fishes</th>
		<th>Total females</th>
		<th>Total small</th>
	</tr>
{% for proto_info in proto_infos %}
<tr>
	<td>{{proto_info.0.name}}</td>
	<td>{{proto_info.0.waterVolumeNeeded}}</td>
	<td>{{ proto_info.0.minLifeExpectancy }}</td>
	<td>{{ proto_info.0.maxLifeExpectancy}}</td>
	<td>{{proto_info.0.childDeathRate}}</td>
	<td>{{proto_info.0.childDeathStopAge}}</td>
	
	<td>{{proto_info.0.spawningPeriod}}</td>
	<td>{{proto_info.0.adultingTime}}</td>
	<td>{{proto_info.0.minSpawnCount}}</td>
	<td>{{proto_info.0.maxSpawnCount}}</td>
	
	<td>{{ proto_info.1 }}</td>
	<td>{{ proto_info.3 }}</td>
	<td>{{ proto_info.2 }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
