<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
	{% block title %}
	DjanAq
	{%endblock%}
	</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
			{% block header %}
		Welcome to DjanAq, short for Django Aquarium Simulation&amp;Study project main page.
		{% endblock %}
		</div>
		<div id="navigation">
		    {% if request.user.is_authenticated %}
			Hello, {{request.user.username}}! |
			
			<a href="/status">Status</a> | <a href="/fishes">Fishes</a>
			<form action="/process" method="post">{% csrf_token %} <input type="submit" name="logout" value="Log out"/></form>
			{% else %}
			<form action="/login" method="post">{% csrf_token %}<input type="text" name="login" id="login"/>|<input type="password" name="password" id="password"/><input type="submit" value="Login"/></form>
			| <a href="/login">Register</a>
			{% endif %}
			
		</div>
		<div id="contentliquid"><div id="content">
		    {% block content %}
			This is DjanAq content. And this is a new string to test templates.
			{% endblock %}
		</div></div>
		<div id="rightcolumn">
			{% block rightcol %}
			 This is DjanAq right column.
			 {% endblock %}
        </div>

	</div>
</body>
</html>
