{% extends "index.html" %}
{% block title %}DjanAq: Login{% endblock %}
{% block header %}DjanAq: Login{% endblock %}
{% block content %}
You need to login or register first.<br/><br/>
<form action="/process" method="post">
	{% csrf_token %}
	<table border="4">
	<tr>
		<td>
	Registration:
		</td>
	</tr>
	<tr>
		<td>
	<input type="text" name="login"/>
	</td>
	</tr>
	<tr>
		<td>
	<input type="password" name="password"/>
	</td>
	</tr>
	<tr>
		<td>
	<input type="submit" name="register" value="Register"/>
	</td>
	</tr>
</table>
</form>
	
	{% endblock %}
