body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

form {
	display:inline;
}

/*
 * p {
    padding: 4px;
}
*/
#wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    float: left;
    height: 75px;
    width: 100%;
    background: #FF6633;
}

#navigation {
    float: left;
	display: inline;
	padding: 0px;
    height: 40px;
    width: 100%;
    background: #FFCC33;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-right: 150px;
}

#rightcolumn {
    background: #CC33FF;
    width: 150px;
	height: 100%;
    margin-left: -150px;
    float: left;
}

